[submodule "external/jsmn"]
	path = external/jsmn
	url = https://github.com/arsscriptum/jsmn.git
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/arsscriptum/cpp-httplib.git
[submodule "external/libtorrent"]
	path = external/libtorrent
	url = https://github.com/arsscriptum/libtorrent.git
[submodule "external/sqlite"]
    path = external/sqlite
	url = https://github.com/arsscriptum/sqlite.git
    branch = precompiled